# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MONGO_URI: mongodb://localhost:27017
      REDIS_URI: localhost:6379
      TWITCH_CLIENT_ID: test
      TWITCH_CLIENT_SECRET: test
      STATE: test
      JWT_SIGN_KEY: test

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

      mongo:
        image: mongo
        env:
          MONGO_INITDB_DATABASE: Amazeful
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
